<div class="top">
  <section class="banner" role="banner">
    <!-- banner text -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-text text-center">
          <h1>しゃべり場</h1>
          <p>"遊び＝学び＝楽しい"を実現する世の中を<br>
           </p>
          <nav role="navigation">
            <a href="#services" class="banner-btn">
              <img src="images/down-arrow.png" alt="">
            </a>
          </nav>
        </div>
        <!-- banner text -->
      </div>
    </div>
  </section>

  <!-- 協賛 section -->
  <section id="contact" class="section_quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>ご協賛企業様</h1>
         <img src="http://placehold.it/200x200" alt="">
      </div>
    </div>
  </section>
  <!-- 協賛 section -->
  <!-- step section -->
  <section id="contact" class="">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>しゃべり場の狙い</h2>
        <%= image_tag('aim.png', { :border => '0', :alt => 'coming soon'}) %>
      </div>
    </div>
  </section>
  <!-- step section -->


  <!-- services section -->
  <section id="services" class="services service-section">
    <div class="container">
      <h2 class="text-center">強み</h2>
      <p></p>
      <div class="row">
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-strategy"></span>
          <div class="services-content">
            <h5>学生のうちから様々な企業に会える！</h5>
            <p>大学生のうちは、どうしても同じコミュニティで固まり、社会人はバイトの店長と話すのみ。そんなのもったいない！
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-briefcase"></span>
          <div class="services-content">
            <h5>企業の人事さん・社長さんに直接あえる！</h5>
            <p>これも学生特権の一つ！</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-tools"></span>
          <div class="services-content">
            <h5>アツくなれるものが見つかる！</h5>
            <p>どうしても高校生の頃に打ち込んでいた、部活のようなものが見出せない。
          しかし、ここにくればなにかがみつかるかも！</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-genius"></span>
          <div class="services-content">
            <h5>マインドが身につく！</h5>
            <p>今後、就活だけでなく、人生を過ごしていく上で必要な、”本質的”なマインドが
          身につきます！</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-megaphone"></span>
          <div class="services-content">
            <h5>専門性がますと・・・</h5>
            <p>プログラミング？マーケティング？ライティング？マインドをつけたらきっと
          なにかやりたくなるはず！</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-trophy"></span>
          <div class="services-content">
            <h5>学生のうちに社会を経験する</h5>
            <p>社会に出る前に社会を経験する。大学は人生の夏休みでなく、試練です。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services section -->

  <!-- our team section -->
  <div class="review">
  <section id="teams" class="section teams">
    <div class="container">
      <div class="row">
       <p class="voice">ユーザーの声</p>
        <!-- team member 1 -->
        <div class="col-md-4 col-sm-8">
          <div class="person">
            <%= image_tag('sya.png', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
            <div class="person-content">
              <h4>渡辺  湧祐くん</h4>
              <h5 class="role">明治大学 4年生</h5>
              <p>アントレに参加したことで、課金だけでなく真面目なことに
            楽しさを見いだせました。</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 1 -->
        <!-- team member 2 -->
        <div class="col-md-4 col-sm-8">
          <div class="person">
            <%= image_tag('syun.jpg', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
            <div class="person-content">
              <h4>中村  駿之介くん</h4>
              <h5 class="role">明治大学 4年</h5>
              <p>自分のやりたいことが見つかりました。今後は妥協せず、人生を
            突き進もうと思います。</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 2 -->
        <!-- team member 3 -->
        <div class="col-md-4 col-sm-8">
          <div class="person">
            <%= image_tag('http://placehold.it/200x200', { :border => '0', :alt => 'coming soon',:class=> "img-responsive"})%>
            <div class="person-content">
              <h4>comming soon...</h4>
              <h5 class="role">comming soon...</h5>
              <p>テスト
            </div>

            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 1 -->
      </div>
    </div>
  </section>
  <!-- our team section -->

  <!-- Testimonials section
  <section id="testimonials" class="no-js section testimonials no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP賞 </h1>
                  <p>魚沼産コシヒカリ, パンツで賞</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP賞 </h1>
                  <p>みくちん、がんばったで賞</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP賞 </h1>
                  <p>しゃあ、赤い彗星で賞</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP</h1>
                  <p>角南めい、怒ったで賞</p>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
   Testimonials section -->

  <!-- Get a quote section -->
  <section id="contact" class="section quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>しゃべり場で楽しい大学生活を過ごしましょう！！</h3>
        <a href="form.html" class="btn btn-large" style="text-decoration:none;">しゃべり場にいく</a> </div>
    </div>
  </section>
  <!-- Get a quote section -->
  <!-- Get a quote section -->
  <section id="contact" class="section quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>しゃべり場ブログもみてね</h2>
        <a href="form.html" class="btn btn-large" style="text-decoration:none;">ブログを読む</a> </div>
    </div>
  </section>
  </div>
  <!-- Get a quote section -->
  <!-- Footer section -->
  <footer class="footer-big">
    <div class="footer-top section">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-6">
            <h5>所在地</h5>
            <p>東京都港区高輪1-2-16  フラットウェル高輪1F<br>
              <br>
              info@makeentre.jp</p>
              <p>Copyright ©メイクアントレグループ All Rights Reserved.</p>
          </div>
          <div class="footer-col col-md-3">
            <h5>開催日時</h5>
            <p>
            <!--<ul>
              <li><a href="#">Digital Strategy</a></li>
              <li><a href="#">Websites</a></li>
              <li><a href="#">Videography</a></li>
              <li><a href="#">Social Media</a></li>
              <li><a href="#">User Experience</a></li>
            </ul>-->
            日時：毎週月曜日 20-22時<br>
            アクセス：<br>
            白金高輪駅２番出口より徒歩2分

            </p>
          </div>
          <div class="footer-col col-md-3">
            <h5>SNS</h5>
            <div class="btns">
            <ul class="footer-share">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer top -->
  </
  ooter>
</div>