/* ヘッダー ================================ */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  z-index: 10;
}

#logo {
  float: left;
  font-size: 1.7em;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo a {
  color: #fff;
}

#logo a:hover {
  color: #fff;
  text-decoration: none;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
  list-style: none;
}

.vertical-line {
  height: 22px;
  margin-top: 22px;
  margin-right: -36px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.link-bg {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.link-bg:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer small {
  float: left;
}

.footer-big{
  .footer {
    text-align: left;
  }
  .footer-top {
    background-color: #181818;
    padding-top: 50px;
  }
  .footer-bottom {
    background-color: #313454;
    padding: 20px 0;
  }
  .footer .footer-col {
    margin-bottom: 80px;
  }
  .footer h5 {
    color: #fff;
  }
  .footer h5 {
    margin-bottom: 20px;
  }
  .footer p {
    color: rgba(255, 255, 255, 0.25);
  }
  .footer a {
    color: rgba(255, 255, 255, 0.50);
  }
  .footer a:hover {
    color: #e84545;
  }
  .footer .footer-share {
    margin-top: 0;
  }
  .footer .footer-share li {
    display: inline-block;
    float: none;
  }
  .footer .footer-share a {
    border: none;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.25);
  }
  .footer .fa-heart {
    color: #e84545;
    font-size: 11px;
    margin: 0 2px;
  }
}

/* ボタン ================================ */

.btn-large {
  padding: 6px 140px;
  font-size: 18px;
}

/* 「保存」ボタン */
.primary-btn {
  background-color: #239b76;
}

.primary-btn:hover {
  background-color: #28b086;
}

/*　「新規登録」と「編集」ボタン　*/
.register-btn, .edit-btn {
  background-color: #239b76;
  margin-top:30px;
}

.register-btn:hover,.edit-btn:hover {
  background-color: #28b086;
  color: white;
  text-decoration: none;
}

/*　「戻る」ボタン　*/
.destroy-btn {
  background-color: #1f89e2;
}

.destroy-btn:hover {
  background-color: #3695e5;
  color: white;
  text-decoration: none;
}

/* フォーム================================ */
input, textarea, select {
  border: 1px solid #bbb;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 3px;
}

/*　エラーメッセージ　*/
.alerts {
  padding-top: 80px;
  padding-bottom: 20px;
  float: left;
  width: 100%;
}

.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 40px;
  padding-left: 15px;
  font-size: small;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

.alert-danger ul li {
  list-style-type: disc;
 }